<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Про кафедру</title> <!-- c.page_title (for example) -->
    <html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="icon" href="img/favicon.ico">
</head>
<body>
    <div class="wrapper">
             
                                <!-- HEADER -->
    <div class="header">
      <div class="row">
        <menu class="header__menu">
          <ul>
            <a href="index.html" class="header__menu__a_logo">
              <img class="header__menu__logo" src="img/logo.png">
            </a>
          </ul>
          <ul>
            <a href="">Абітурієнтам</a>
          </ul>
          <ul>
            <a href="">Студентам</a>
          </ul>
          <ul>
            <a href="">Розробки</a>
          </ul>
            <ul>
            <a href="">Наука</a>
          </ul>
        </menu>
        <div class="header__right medium-2 columns search__wrapper out">
          <li class="ul langs">
            <ul><a href='/?lang=ua' class="lang__active">ua</a></ul>
            <ul><a href='/?lang=en'>en</a></ul>
          </li>
            
                                <!-- Search area -->
          <form method="get" action="" class="header__search">
            <input type="text" class="input_text" name="search">
            <input type="submit" class="header__search__button">
          </form>
        </div>
      </div>
    </div>
    <!-- END Header -->
      
                                <!-- SLIDER --> 
    <div class="slider">
      <li class="slider__slider">
        <ul>
          <div class="slider__slide" style="background-image: url('img/slide1.jpg');">
            <div class="slider__slide__content">
              <div class="row slider__slide__content__row">
                <h1 class="slider__header">
                  Сучасна <span class="slider__header__higlight"> матеріальна </span>
                  база
                 </h1>
              </div>
            </div>
          </div>
        </ul>
        <ul>
          <div class="slider__slide" style="background-image: url('img/slide2.jpg');">
            <div class="slider__slide__content">
              <div class="row slider__slide__content__row">
                <h1 class="slider__header">
                  Одна з <span class="slider__header__higlight"> найкращих </span>
                  кафедр КПІ
                </h1>
              </div>
            </div>
          </div>
        </ul>
        <ul>
          <div class="slider__slide" style="background-image: url('img/slide3.jpg');">
            <div class="slider__slide__content">
              <div class="row slider__slide__content__row">
                <h1 class="slider__header">
                  Ґрунтовна
                  <span class="slider__header__higlight"> освіта</span> та гарна робота
                </h1>
              </div>
            </div>
          </div>
        </ul>
      </li>
      <div class="row">
        <li class="slider__circles"></li>
      </div>
    </div>
                                <!-- END Slider -->
      
      
                                <!-- BODY START -->
    <!-- Sidebar -->
    <div class="content row medium-3 columns s">     
    <!-- Social Networks -->
        
    <sidebar class="content__sidebar">
        <div class="social__holder">
            
          <h2 class="content__sidebar__block__header">Ми у соціальних мережах</h2>
            <ul>
                <li><a class="w3-btn w3-indigo w3-round-medium" href="https://www.facebook.com/actskpi" target="_blank">Facebook</a></li>
                <li><a class="w3-btn w3-blue-grey w3-round-medium" href="https://vk.com/actskpi" target="_blank">VK</a></li>
           </ul>
        </div>    
                            
                                <!-- INFORMATION -->   
      <sidebar class="content__sidebar">
        <div class="content__sidebar__block ">
          <h2 class="content__sidebar__block__header">Інформація</h2>
          <ul class="sidebar__nav">
            <li>
              <a href="about.html" class="sidebar__nav__btn">Про кафедру</a>
            </li>
            <li>
              <a href="" class="sidebar__nav__btn">Історія кафедри</a>
            </li>
            <li>
              <a href="teachstaff.html" class="sidebar__nav__btn">Педагогічний склад</a>
            </li>
            <li>
              <a href="" class="sidebar__nav__btn">Допоміжний персонал</a>
            </li>
            <li>
              <a href="" class="sidebar__nav__btn">Студентське життя</a>
            </li>
            <li>
              <a href="" class="sidebar__nav__btn">Вступнику 2017-го</a>
            </li>  
          </ul>
        </div>

      <div class="content__sidebar__block">
          <h2 class="content__sidebar__block__header ">Контакти</h2>
          <table class="sidebar__contacts" cellspacing="0">
            <tbody>
              <!-- Contact -->
              <tr>
                <td>
                  <span class="sidebar__contacts__icon">
                    <img src="img/home.png">
                  </span>
                </td>
                <td>
                  <span class="span">
                    Місто Київ, проспект Перемоги 37, 18 корпус
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="sidebar__contacts__icon">
                    <img src="img/phone.png">
                  </span>
                </td>
                <td>
                  <span class="span">
                    +380 (44) 204 86 10<br>
                    +380 (44) 204 92 85
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="sidebar__contacts__icon">
                    <img src="img/at.png">
                  </span>
                </td>
                <td>
                  <span class="span">
                    kafedra@acts.kpi.ua
                  </span>
                </td>
              </tr>
              <!-- End Contact -->
            </tbody>
          </table>
        </div>

        <div class="content__sidebar__block">
          <h2 class="content__sidebar__block__header">Останні новини</h2>
          <div class="sidebar__news">
              
                                <!-- NEWS -->
            {% for new in news %}
            <a class="sidebar__news__news" href="">
              <h3 class="sidebar__news__news__header">
                Lorem Ipsum
              </h3>
                <p>Lorem ipsum dolor sit amet, nisl dictas deleniti nam ea, vim blandit repudiare ne. Vel eu equidem dignissim dissentias, cibo sonet mel ne. Quodsi aperiri adipiscing no pri. At vix munere gubergren.</p>
              <span class="sidebar__news__news__date">01.01.1970</span>
            </a>     
            {% endfor %}
          </div>
                                <!-- END News -->
        </div>

      </sidebar>
    </sidebar>
    <!-- END Sidebar  -->
                                
        
                                <!-- CONTENT -->
      <div class="content__about">
        <section class="about__department">
          <div class="history">
          <!-- {% for c in cath  %} -->
          <h1 class="header-with-line">
            <!-- {{c.title}} -->
              Про кафедру
          </h1>
          <p>
           <!-- {{c.content}} The content -->
Однією з провідних кафедр України, діяльність випускників яких пов’язана з інформатизацією, є кафедра Автоматики та Управління в Технічних Системах факультету Інформатики та Обчислювальної Техніки Національного Технічного Університету України “Київський політехнічний інститут імені Ігоря Сікорського”.
Особливістю підготовки наших випускників є глибоке вивчення найсучасніших високотехнологічних галузей науки і техніки: </p>
              <ul class="cath__sections">
                  <li class="cath__sections__li">Інформаційних технологій</li> 
                  <li class="cath__sections__li">комп’ютерної, мікропроцесорної техніки та електроніки</li> 
                  <li class="cath__sections__li">систем та мереж передачі даних і телекомунікацій</li>
                  <li class="cath__sections__li">комп’ютеризованих систем управління</li>
              </ul> </br>
            <p>Наші студенти отримують грунтовні знання з різноманітних дисциплін:</p>
            <div class="cath__trends">
            <p><strong>програмування</strong>:</p> <img src="img/programming.png">
              <ul class="cath__sections">
                  <li class="cath__sections__li">алгоритмічні мови</li> 
                  <li class="cath__sections__li">об’єктно-орієнтоване та системне програмування</li> 
                  <li class="cath__sections__li">сучасні технології програмування</li>
                  <li class="cath__sections__li">бази даних</li>
                  <li class="cath__sections__li">операційні системи</li>
                  <li class="cath__sections__li">WEB-технології тощо</li>
              </ul>           
             </div>
            
            <div class="cath__trends"><p><strong>математики</strong>:</p> <img src="img/math.png">
                <ul class="cath__sections">
                      <li class="cath__sections__li">вища математика</li> 
                      <li class="cath__sections__li">дискретна математика</li> 
                      <li class="cath__sections__li">теорія ймовірності і матстатистика</li>
                      <li class="cath__sections__li">алгоритміка</li>
                      <li class="cath__sections__li">основи штучного інтелекту</li>
                      <li class="cath__sections__li">дослідження операцій та математичне програмування </li>
                </ul>
            </div>
            
			<div class="cath__trends"><p><strong>теорії і засобів </br> 
				телекомунікації</strong>:</p> <img src="img/communication.png">
                <ul class="cath__sections">
                      <li class="cath__sections__li">теорія інформації і кодування</li> 
                      <li class="cath__sections__li">цифрова обробка сигналів</li> 
                      <li class="cath__sections__li">основи теорії інформаційних процесів</li>
                      <li class="cath__sections__li">захист інформації та комп’ютерна криптографія</li>
                      <li class="cath__sections__li">системи та мережі передачі даних</li>
                      <li class="cath__sections__li">програмно-апаратні засоби телекомунікаційних систем та мереж </li>
                      <li class="cath__sections__li">аналіз, моделювання, експлуатація, моніторинг та адміністрування телекомунікаційних мереж і систем</li>
                </ul> 
            </div>
            
            <div class="cath__trends">
            <p><strong>комп’ютерної та мікропроцесорної техніки</strong>:</p> <img src="img/microchip.png">
                <ul class="cath__sections">
                      <li class="cath__sections__li">електроніка і мікросхемотехніка</li> 
                      <li class="cath__sections__li">комп’ютерна електроніка, мікропроцесорні пристрої</li> 
                      <li class="cath__sections__li">архітектура комп’ютерних систем і мереж</li>
                      <li class="cath__sections__li">системи розподіленних та паралельних обчислень</li>
                      <li class="cath__sections__li">проектування та програмування мікропроцесорних систем</li>
                </ul>
            </div>
            
            <div class="cath__trends">
            <p><strong>теорії та систем управління</strong>:</p> <img src="img/controlsystem.png">
                <ul class="cath__sections">
                      <li class="cath__sections__li">теорія автоматичного управління</li> 
                      <li class="cath__sections__li">системний аналіз об’єктів і процесів комп’ютеризації</li> 
                      <li class="cath__sections__li">цифрові системи управління, оптимальні та адаптивні системи</li>
                      <li class="cath__sections__li">банківскі та спеціалізовані системи та мережі</li>
                      <li class="cath__sections__li">інтегровані корпоративні інформаційно-управляючі системи тощо</li>
                </ul>
            </div>
            
            <div class="cath__trends">
            <p><strong>проектування</strong>:</p> <img src="img/design.png">
                <ul class="cath__sections">
                      <li class="cath__sections__li">сучасні технології</li> 
                      <li class="cath__sections__li">проектування пристроїв систем управління</li> 
                      <li class="cath__sections__li">надійність і діагностика</li>
                      <li class="cath__sections__li">мережеві технології в управлінні технічними системами</li>
                      <li class="cath__sections__li">проектування та моделювання комп’ютерних мереж і комп’ютеризованих систем управління</li>
                </ul>
            </div>
            
          <p style="text-align: left;">Все це можливо в рамках спеціальності “Системи управління і автоматики” (д,б\в). В рамках цієї спеціальності є спеціалізації: “Управління інформаційними процесами” і “Комп’ютеризовані локальні системи та мережі перетворення та обробки інформації”.</p>
         <!-- {% endfor %} -->
		
		<div class="cath__specialists">
		  <p>Кафедра автоматики та управління в технічних системах готує бакалаврів з напрямку: </p>
		  <img src="img/specialist.png" alt="Avatar">
			<ul class="cath__specialists_list">
                 <li class="cath__spec__li">Комп`ютеризовані системи, автоматика та управління</li> 
                 <li class="cath__spec__li">Комп’ютерна електроніка, мікропроцесорні пристрої</li> 
			</ul>
		</div>
		<h1 class="header-with-line">Діяльність фахівців</h1>
		<p>Діяльність фахівців направлена на дослідження, створення та впровадження:
			<ul class="cath__sections">
			<li class="cath__sections__li">комп’ютеризованих систем управління</li> 	
			<li class="cath__sections__li">мікропроцесорних систем та автоматики</li>
			<li class="cath__sections__li">телекомунікаційних систем та мереж в управлінні</li>
			<li class="cath__sections__li">комп’ютеризованих локальних систем та мереж</li>
			</ul>
		</p>
		
		<div class="graduates">
			<img src="img/team.png">
			<p>Види діяльності випускників в сфері інформатизації: організаційно-управлінська, дослідницька, виробничо-технологічна, проектно-конструкторська.</p>
		</div>
		
		<div class="graduates">
			<img src="img/analytics.png">
			<p>Місця працевлаштування випускників: наукові, аналітичні, проектні, дослідницькі, виробничі організації та установи державної та недержавної форм власності в: промисловості, паливно-енергетичному комплексі, освіті та науці, транспорті та зв’язку, обслуговуванні, охороні здоров’я, кредитно-фінансовій сфері, управлінні.</p>
		</div>
	
		<div class="graduates">
			<img src="img/work.png">
			<p>Випусники працюють як спеціалісти з комп’ютеризованих систем управління, обробки даних та програмування, захисту інформації, розробки і використання мікроконтролерів різного призначення, як адміністратори комп’ютерних мереж, менеджери проектів, інженери-налагоджувальники, випробувачі складного електронного, комп’ютерного та автоматичного обладнання, а також як інженери-дослідники.</p>
		</div>
		
		<div class="graduates">
			<img src="img/star.png">
			<p>Кафедра АУТС оснащена сучасною технікою. Кожний студент має можливість самостійно працювати у визначений час в лабораторіях (систем передачі даних і телекомунікацій; комп’ютеризованих систем управління і автоматики; мікропроцесорної техніки і електроніки) та дисплейних класах кафедри на персональних комп’ютерах (Pentium, Celeron), об’єднаних локальною обчислювальною мережею, що дозволяє йому всебічно вивчати найновіші досягнення у галузі інформаційних технологій, дає можливість працювати у всесвітній комп’ютерній мережі Internet.</p>
		</div>
				
		<div class="graduates">
			<img src="img/networking.png">
			<p>Після 4-го курсу паралельно з основною спеціальністю студенти (за бажанням) можуть отримати за 2 роки (вечірня форма навчання за контрактом) кваліфікацію менеджера-маркетолога за спеціальністю “Маркетинг” або бакалавра-перекладача.</p>
		</div>
		
		
		</div>
        </section>
		
		
        
      </div>
    </div>    
      <!-- END Content -->

        
        
                                <!-- FOOTER -->
    
    <footer class="footer">
      <div class="footer__left">
        <h1>Нашi партнери</h1>
        <div class="prtners">
          <a href="http://microsoft.com" target="_blank">
            <img src="img/microsoft.png" alt="">
          </a>
          <a href="http://www.ti.com" target="_blank">
            <img src="img/texas.png" alt="">
          </a>
          <a href="http://www.cisco.com" target="_blank">
            <img src="img/cisco.png" alt="">
          </a>
          <a href="http://www.atmel.com" target="_blank">
            <img src="img/atmel.png" alt="">
          </a>
        </div>
      
                                <!-- Contacts -->
      <div class="footer__contacts">
        <p>
          &copy; ACTS | +380 (44) 204 86 10 | +380 (44) 204 92 85 | kafedra@acts.kpi.ua 
        </p>
      </div>
    </footer>
                                <!-- END Contacts -->

    <!-- END Footer -->
    </div>
 
<script src="js/script.js"></script>    
</body>
</html>
